* text=auto eol=lf

*.blade.php linguist-vendored
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

composer.lock linguist-vendored
package-lock.json linguist-vendored
public/build/* linguist-vendored
public/assets/* linguist-vendored

public/build/assets/*.js linguist-vendored=false

resources/views/auth/* linguist-vendored
resources/views/layouts/* linguist-vendored
resources/views/components/* linguist-vendored
resources/views/profile/* linguist-vendored