@tailwind base;
@tailwind components;
@tailwind utilities;


/* КАРТИЧКА В КАТАЛОГА (HOME) - 16:9 Формат */
.movie-card-img {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
    object-fit: contain;
    display: block;
    border-bottom: 1px solid #f3f4f6;
}

/* ГОЛЯМАТА СНИМКА (DETAILS PAGE) */
.movie-detail-img {
    width: auto;
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}